# Global owner
* @ArthurBarcante

# Documentation
/docs/ @ArthurBarcante

# Backend
/backend/ @ArthurBarcante
/alembic/ @ArthurBarcante

# Frontend
/frontend/ @ArthurBarcante

# Tests
/tests/ @ArthurBarcante

# CI/CD
/.github/ @ArthurBarcante

# Development Data & Scripts
/dev_data/ @ArthurBarcante
/scripts/ @ArthurBarcante

# Configuration files
*.toml @ArthurBarcante
*.ini @ArthurBarcante
requirements.txt @ArthurBarcante
.env* @ArthurBarcante
